{{ $prefix := .Site.LanguagePrefix }}
{{ $pages := slice }}
{{ range .Site.RegularPages }}
  {{ $p := . }}
  {{ $rp := .RelPermalink }}
  {{ $isRU := hasPrefix $rp "/ru/" }}
  {{ if or (and (ne $prefix "") (hasPrefix $rp $prefix)) (and (eq $prefix "") (not $isRU)) }}
    {{ if eq $p.Type "news" }}
      {{ $pages = $pages | append $p }}
    {{ end }}
  {{ end }}
{{ end }}
{{ if eq (len $pages) 0 }}
  {{ $lang_news_path := printf "/%s/news" .Site.Language.Lang }}
  {{ $sec := .Site.GetPage $lang_news_path }}
  {{ $pages = cond (ne $sec nil) ($sec.RegularPages | default $sec.Pages) (slice) }}
{{ end }}
{{ $latest := first 10 ($pages.ByDate.Reverse | default (slice)) }}

<div class="widget widget-latest-news">
  <h3 class="widget-title">{{ i18n "latest_news" | default "Ultimele Știri" }}</h3>
  <ul class="news-list">
    {{ range $latest }}
      <li class="news-item">
        <a href="{{ .RelPermalink }}" class="news-item-link">
          <span class="news-item-title">{{ .Title }}</span>
        </a>
        <time class="news-item-time" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2 Jan, 15:04" }}</time>
      </li>
    {{ end }}
  </ul>
</div>
