{{- /* Canonical */ -}}
{{- if .Permalink -}}
<link rel="canonical" href="{{ .Permalink }}" />
{{- end -}}

{{- /* Hreflang alternates for translations */ -}}
{{- if .IsPage -}}
  {{- range .AllTranslations -}}
    <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}" />
  {{- end -}}
  <link rel="alternate" hreflang="x-default" href="{{ .Permalink }}" />
{{- else -}}
  {{- range .Site.Languages -}}
    <link rel="alternate" hreflang="{{ .Lang }}" href="{{ $.Site.Home.In .Lang | relref "." | absURL }}" />
  {{- end -}}
{{- end -}}

