<footer class="site-footer">
  <div class="container">
    <nav class="footer-nav" aria-label="Secondary">
      <ul>
        {{ $lang := .Site.Language.Lang }}
        <li><a href="{{ (site.GetPage (printf "/%s/pages/despre-noi" $lang)).RelPermalink }}">{{ i18n "about_us" }}</a></li>
        <li><a href="{{ (site.GetPage (printf "/%s/pages/contact" $lang)).RelPermalink }}">{{ i18n "contact" }}</a></li>
        <li><a href="{{ (site.GetPage (printf "/%s/pages/termeni" $lang)).RelPermalink }}">{{ i18n "terms" }}</a></li>
        <li><a href="{{ (site.GetPage (printf "/%s/pages/confidentialitate" $lang)).RelPermalink }}">{{ i18n "privacy" }}</a></li>
      </ul>
    </nav>
    <div class="footer-bottom">
        <p>&copy; {{ now.Year }} {{ .Site.Title }}.</p>
    </div>
  </div>
</footer>